annotated-types
anyio
backoff
beautifulsoup4
certifi
chardet
charset-normalizer
click
dataclasses-json
decorator
edgartools
emoji
et-xmlfile
fastapi
fastcore
filetype
h11
httpcore
httptools
httpx
humanize
idna
iniconfig
joblib
jsonpath-python
langdetect
lxml
markdown-it-py
markdownify
marshmallow
mdurl
mypy-extensions
nltk
numpy
openpyxl
packaging
pandas
pluggy
py
pyarrow
pydantic
pydantic_core
Pygments
pytest
python-dateutil
python-dotenv
python-iso639
python-magic
pytz
PyYAML
rank-bm25
rapidfuzz
regex
requests
retry
rich
six
sniffio
soupsieve
starlette
tabulate
textdistance
tqdm
typing-inspect
typing_extensions
tzdata
unstructured
unstructured-client
urllib3
uvicorn
uvloop
watchfiles
websockets
wrapt