annotated-types==0.6.0
anyio==3.7.1
backoff==2.2.1
beautifulsoup4==4.12.2
certifi==2023.11.17
chardet==5.2.0
charset-normalizer==3.3.2
click==8.1.7
dataclasses-json==0.6.3
decorator==5.1.1
edgartools==2.6.2
emoji==2.9.0
et-xmlfile==1.1.0
fastapi==0.105.0
fastcore==1.5.29
filetype==1.2.0
h11==0.14.0
httpcore==1.0.2
httptools==0.6.1
httpx==0.25.2
humanize==4.9.0
idna==3.6
joblib==1.3.2
jsonpath-python==1.0.6
langdetect==1.0.9
lxml==4.9.3
markdown-it-py==3.0.0
markdownify==0.11.6
marshmallow==3.20.1
mdurl==0.1.2
mypy-extensions==1.0.0
nltk==3.8.1
numpy==1.26.2
openpyxl==3.1.2
packaging==23.2
pandas==2.1.4
py==1.11.0
pyarrow==14.0.2
pydantic==2.5.2
pydantic_core==2.14.5
Pygments==2.17.2
python-dateutil==2.8.2
python-dotenv==1.0.0
python-iso639==2023.12.11
python-magic==0.4.27
pytz==2023.3.post1
PyYAML==6.0.1
rank-bm25==0.2.1
rapidfuzz==3.5.2
regex==2023.10.3
requests==2.31.0
retry==0.9.2
rich==13.7.0
six==1.16.0
sniffio==1.3.0
soupsieve==2.5
starlette==0.27.0
tabulate==0.9.0
textdistance==4.6.0
tqdm==4.66.1
typing-inspect==0.9.0
typing_extensions==4.9.0
tzdata==2023.3
unstructured==0.11.5
unstructured-client==0.15.0
urllib3==2.1.0
uvicorn==0.25.0
uvloop==0.19.0
watchfiles==0.21.0
websockets==12.0
wrapt==1.16.0
